.footer__text{
    margin: 28px 19px 36px;
    color: #545454;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
}
@media screen and (max-width:581px) {
    .footer__text{
        font-size: 14px;
    }
}