.popup__button{
    margin-top: 15px;
    height: 46px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    align-items: center;
    justify-content: center;
}
@media screen and ( min-width:581px) {
    .popup__button{
        margin-top: 18px;
    }
}