.header__logo{
    margin-left:27px;
    width: 103.74px;
    height: 24.4px;
}
@media screen and (min-width:581px) {
    .header__logo{
        width: 142px;
        height: 33px;
        margin-left: 0;
    }
}