.profile__add-button{
    height: 50px;
    width: 282px;
    box-sizing: border-box;
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    border:2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../../../photos/Plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    transform: opacity 0.2s linear;
    cursor:pointer;
}
.profile__add-button:hover{
    opacity: 0.5;
}
@media screen and (min-width:670px) {
    .profile__add-button{
        width: 150px;
    }
}
