.elements{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(auto-fit , 361px);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-top: 36px;
}
@media screen and (min-width:581px) {
    .elements{
        margin-top: 51px;
    }
}