.element__group{ 
    width: 22px;
    height: 19px;
    margin: 31px 20px 30px;
    background-image: url(../../../photos/Vector\ \(Stroke\).png);
    border: #FFFFFF;
    background-color: #FFFFFF;
    transition: opacity 0.1s ease;
}
.element__group:hover{
    opacity: 0.4;
}