.popup__container{
    transition: 0.5s all;
    background: #FFFFFF;
    box-shadow: -16px -8px 25px 0px rgb(0 0 0 / 41%);
    border-radius: 10px;
    min-width: 238px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 22px;
    align-items: stretch;
    justify-content: center;
    z-index: 10;

}
@media screen and (min-width:581px) {
    .popup__container{
        padding: 36px;
        min-width: 358px;
    }
}