.element{
    width: 282px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    display: grid;
    border-radius: 10px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}