.element__button-like{ 
    width: 22px;
    height: 19px;
    margin: 31px 20px 30px;
    background-image: url(../../../photos/Like.svg);
    border: #FFFFFF;
    background-color: #FFFFFF;
    transition: opacity 0.1s ease;
    cursor:pointer;
}
.element__button-like:hover{
    opacity: 0.5;
}
